.skillsList {

    .skillChip {
        margin: 6px !important;
        
        span {
            color: white !important;
            font-size: 12px !important;
        }

        &.owned {
            background: $vertA700 !important;

            &>div {
                background: darken($vertA700, 8) !important;
                &>svg {
                    fill: white !important;
                }
            }
        }

        &.suggested {
            background: $violet600 !important;

            &>div {
                background: darken($violet600, 8) !important;
                &>svg {
                    fill: white !important;
                }
            }
        }

        &.added {
            background: $vertA400 !important;

            &>div {
                background: darken($vertA400, 8) !important;
                &>svg {
                    fill: white !important;
                }
            }
        }

        @media (min-width: $screen-xs-max+1) {

            &>svg {
                width: 0 !important;
            }

            &:hover, &:active, &:focus {
                &>svg {
                    width: 24px !important;
                }
            }
        }

    }

}