.analyseContainer {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .analyseTextContainer {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-right: 32px;
        max-width: 30vw;
        color: white;
    }

    .analyseDragAndDropContainer {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        .dragAndDropArea {
            width: 20vw;
            height: 20vw;
            border: 5px dashed $vertA200;
            margin: 15px;
            border-radius: 26px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            min-width: 140px;
            color: $vertA200;
            
            svg {
                fill: $vertA200 !important;
            }
        }
    }
}