$violet50 : #faeffd;
$violet100 : #f2d7fb;
$violet200 : #e9bdf9;
$violet300 : #e0a3f6;
$violet400 : #d98ff4;
$violet500 : #d27bf2;
$violet600 : #cd73f0;
$violet700 : #c768ee;
$violet800 : #c15eec;
$violet900 : #b64be8;
$violetA100 : #ffffff;
$violetA200 : #ffffff;
$violetA400 : #f3dbff;
$violetA700 : #eac2ff;

$orange50 : #fff8f1;
$orange100 : #feeddc;
$orange200 : #fee1c4;
$orange300 : #fdd5ac;
$orange400 : #fccc9b;
$orange500 : #fcc389;
$orange600 : #fcbd81;
$orange700 : #fbb576;
$orange800 : #fbae6c;
$orange900 : #faa159;
$orangeA100 : #ffffff;
$orangeA200 : #ffffff;
$orangeA400 : #fffbf8;
$orangeA700 : #ffeddf;

$vert50 : #e8f5e9;
$vert100 : #c8e6c9;
$vert200 : #a5d6a7;
$vert300 : #81c784;
$vert400 : #66bb6a;
$vert500 : #4caf50;
$vert600 : #43a047;
$vert700 : #388e3c;
$vert800 : #2e7d32;
$vert900 : #1b5e20;
$vertA100 : #b9f6ca;
$vertA200 : #69f0ae;
$vertA400 : #00e676;
$vertA700 : #00c853;

$gris50 : #ededed;
$gris100 : #d1d1d1;
$gris200 : #b3b3b3;
$gris300 : #949494;
$gris400 : #7d7d7d;
$gris500 : #666666;
$gris600 : #5e5e5e;
$gris700 : #535353;
$gris800 : #494949;
$gris900 : #383838;