@import 'colors';
@import 'measures';
@import 'typo';
@import 'utils';
@import 'analyse/index';
@import 'components/index';

* {
    font-family: Roboto, Arial, sans-serif;
}

html {
    @include gradient-directional($violet300, $orange500);
    height: 100vh;
    background-attachment: fixed;
}

body {
    margin: 0 0 0 256px;
}

#jobads-webapp {
    height: 100vh;
}

.menuAppBar {
    background-color: rgb(48, 48, 48) !important;

    img {
        position: relative;
        top: 9px;
    }

    h1 {
        color: white !important;
    }

    svg {
        fill: $gris400 !important;
    }
}

.badge {
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px;
    background: $vertA200;
    border-radius: 3px;
    color: white;
}

span.indicator {

    &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 3px;
        position: relative;
        bottom: 3px;
        right: 3px;
    }

    &.worse::before {
        background: $deepOrange500;
    }

    &.bad::before {
        background: $amber500;
    }

    &.medium::before {
        background: $yellow500;
    }

    &.good::before {
        background: $vertA200;
    }

    &.best::before {
        background: $vertA400;
    }
}

.test {
    min-width: 100px;
    min-height: 300px;
}

.testScreen {
    min-height: 100vh;
    @include gradient-vertical(white, $gris50);
}