.skillsPanel {
    flex: 0 0 40%;
    max-width: 0;
    transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    overflow: hidden;

    &.open {
        max-width: 40vw;
        opacity: 1;
    }
    
    @media (max-width: $screen-xs-max) {
        order: -1;
        max-width: initial;
        max-height: 0;
        position: relative;

        &.open {
            max-width: initial;
            max-height: initial;
            flex: 1 0 auto;
        }
    }
    
    @media (min-width: $screen-xs-max+1) {
        &.map {
            position: absolute;
            right: 0;
            width: 40%;
        }

        &.open {
            padding: 16px;
        }
    }

    .dragAndDropArea {
        background: white;

        .uploadContainer{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: -8px -16px;
            padding: 8px 16px;
            background: $vertA200;

            &.error {
                background: $deepOrange500;
            }

            span {
                color: white;
                font-size: 12px;
            }

            .uploadIcon {
                margin-right: 16px;
                fill: white !important;
            }
        }
    }

    .skillsPaper {
        width: 100%;
        padding: 8px 16px;
        background: transparent !important;

        @media (min-width: $screen-xs-max+1) {
            width: 40vw;
        }



        .skillsPanelBar{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            .doc {
                width: auto !important;
                padding: 0 !important;
            }

            .skillsBadge {
                padding: 0 !important;
            }

            h3 {
                color: $gris500;
                font-weight: 300; 
            }
        }

        h4 {
            font-size: 12px;
            margin: 32px 0 16px;
            color: $gris600;
            text-transform: uppercase;
            font-weight: 300;
        }

        h4:first-of-type {
            margin-top: 0 !important;
        }
    }
}

.skillsTrashTitle {
    color: white;
    background: $amber500;
    padding: 10px;
    font-size: 14px;
}