.filterBarWrapper {

    .filterBar {
        padding: 0 5vw !important;
        background: white !important;
        font-size: .8em !important;
        transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        opacity: 1;
        max-height: 168px;

        &.hidden {
            opacity: 0;
            max-height: 0 !important;
            overflow: hidden;
        }

        &.searchScreen {
            padding: 0 !important;
            margin-left: -24px;
            margin-right: -24px;
            background: none !important;

            button {
                transition: none !important;
            }

            height: auto !important;
            &.hidden {
                max-height: 0 !important;
            }

            &>div {
                flex-wrap: wrap;
                justify-content: flex-start !important;
            }
        }
    }
}

