.analyseContainer {
    height: 100vh;
    min-height: 320px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1) height;

    &.active {
        height: 20vh;
        min-height: 400px;
        transition: .6s cubic-bezier(0.0, 0.0, 0.2, 1) height .3s;
    }

    .analyseTextContainer {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-right: 32px;
        max-width: 30vw;
        color: white;
        position: relative;
        z-index: 25;
        transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955) margin-top;
        min-width: 250px;

        @media (max-width: $screen-xs-max) {
            min-width: 80vw;

            h2 {
                margin-top: 3px;
            }
        }

        &.active {
            flex-grow: 1;
            margin-top: -50px;
            transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955) margin-top .3s;
        }
    }

    .analyseDragAndDropContainer {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        position: relative;
        z-index: 50;

        .dragAndDropArea {
            width: 20vw;
            height: 20vw;
            border: 5px dashed $vertA200;
            margin: 15px;
            border-radius: 26px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            min-width: 140px;
            color: $vertA200;
            transition : .3s cubic-bezier(0.455, 0.03, 0.515, 0.955) all;
            max-width: 300px;
            max-height: 300px;

            &.active {
                width: 10vw;
                height: 15vw;
                border-width: 0;
                border-color: white;
            }
            
            svg {
                fill: $vertA200 !important;
            }
        }
    }
}