.resultScreen {
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background: white;
    min-height: 100vh;

    .firstScreen{
        @include gradient-vertical(white, $gris25);
        padding: 0 5vw;
        border-bottom: 1px solid $gris100;

        .searchResultBar {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        .separator {
            margin-top: 40px;
        }

        .tabs {
            width: 200px;
            display: inline-block;
        }

        button.options {
            float: right;
            top: 5px;
            color: $gris500 !important;

            &.true {
                background: $gris50 !important;
            }
        }

        button.options-xs {
            float: right;

            svg {
                fill: $gris500 !important;
            }
        }
    }

    .jobOutter {
        overflow-x: auto;
    }

    .jobTable {
        padding: 0 5vw;
        display: table;
        border-spacing: 16px 32px;
        border-collapse: separate;
        background: white;

        .jobRow {
            display: table-row;

            .jobCell {
                display: table-cell;
                vertical-align: top;
                font-size: .8em;

                &.jobAvatar {
                    padding-left: 16px;

                    img {
                        vertical-align: top;
                    }
                }

                &.jobDescription {
                    h3 {
                        font-size: 12px !important;
                        color: $gris400;
                        margin: 4px 0;
                    }
                    h4 {
                        font-size: 15px !important;
                        color: $gris900;
                        margin: 3px 0 3px 0;
                        font-weight: 400;
                    }
                    p{
                        color: $gris800;
                        max-width: 60vw;
                        margin: 4px 0;
                    }
                    .info {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;

                        svg {
                            height: 16px !important;
                            width: 16px !important;
                            fill: $gris400 !important;
                            margin-left: 8px;
                            margin-right: 4px;
                        }
                        svg:first-of-type{
                            margin-left: 0;
                        }
                        span {
                            color: $gris400;
                        }
                    }
                }

                &.jobMatchScore {
                    min-width: 48px;
                }

                &.jobType {
                    min-width: 88px;
                }
            }
        }
    }

    .jobMap {

        position: relative;

        .info {
            top: 5px;
            width: 200px;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            position: absolute;
            padding-bottom: 5px;

            &>div:first-of-type {

                background: $vertA400;
                padding: 5px;
                margin-bottom: 5px;

                span {
                    font-size: 16px;
                    color: white;
                }
            }
        }

        &>div:first-of-type {
            height: 80vh;

            .mapCluster {
                transform: translate(-18px, -36px);
                position: relative;

                svg {
                    fill: url(#MyGradient2) !important;
                    width: 36px !important;
                    height: 36px !important;
                }
                span {
                    position: absolute;
                    top: 8px;
                    text-align: center;
                    width: 36px;
                    text-shadow: $gris900 0 0 5px;
                    color: white;
                    font-size: 11px;
                }
            }

            .mapMarker {
                transform: translate(-50%, -100%);
                fill: url(#MyGradient2) !important;
                width: 36px !important;
                height: 36px !important;
            }
        }
    }
}