@import 'dropFileScreen';
@import 'resultScreen';

.dropFileScreen {
    position: relative;
    overflow-x: hidden;
    overflow-y:hidden;

    &::after{
        content: "";
        transition: none;  
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 200px 100vw;
        border-color: transparent transparent white transparent;
        left: 0;
        bottom: -200px; 

    }

    &.active::after {
        transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955); 
        bottom: 0;
    }
}