// body pushed

body {
    overflow: auto !important;
    text-align: center;
    transition: .3s cubic-bezier(0.23, 1, 0.32, 1);

    &>div {
        text-align: left;
    }

    #jobads-webapp {
        max-width: 2000px;
        margin: 0 auto;
    }

    &.pushed {
        margin-left: -50vw;
        margin-right: 50vw;
    }

    &.pushed600 {
        margin-left: -300px;
        margin-right: 300px;
    }
}

// drawer

.drawerContainer {
    position: absolute;
    z-index: 1100;

    .drawerAppBar {
        svg {
            fill: $gris300 !important;
        }
    }

    &>div {
        height: 100vh !important;
        overflow: hidden !important;
    }

    .drawerContent {
        width: 200%;
        display: flex;
        flex-flow: row nowrap;
        transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);

        svg {
            fill: initial !important;
        }

        &.a-propos {
            transform: translateX(-50%);
        }

        .drawerTabContent {
            flex: 0 0 50%;
            padding: 16px;
            box-sizing: border-box;

            .fakeButton {
                display: inline-block;
                line-height: 36px;
                height: 36px;
                border-radius: 2px;
                position: relative;
                padding-left: 16px;
                padding-right: 16px;
                vertical-align: middle;
                letter-spacing: 0px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                color: #666666;
                background: rgba(153,153,153,.2);
            }
        }
    }
}

// overlay

@mixin overlayGradient {
    @include gradient-directional(fade-out(desaturate(darken($marine300, 30%), 15%), .6), fade-out(desaturate(darken($cyan500, 30%), 15%), .6));
}

.overlay {
    @include overlayGradient;
    //opacity: .7 !important;
}