.filterBar {
    padding: 0 5vw !important;
    background: white !important;
    font-size: .8em !important;
    transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);;
    opacity: 1;
    height: 56px;

    &.hidden {
        opacity: 0;
        height: 0 !important;
        overflow: hidden;
    }
}